{% extends 'layouts/base.html' %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/app-shell.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}
{% block body_class %}app-page admin-page{% endblock %}
{% block body %}
<div class="app-shell">
  {% include 'components/sidebar.html' %}
  <div class="main-area">
    {% include 'components/header.html' %}
    <main class="content-area admin-content">
      {% block admin_content %}{% endblock %}
    </main>
  </div>
</div>
{% endblock %}
